@use '../../variables' as v;

.app__about {
  position: relative;
}

.app__about-overlay {
  position: absolute;
  inset: 0;

  img {
    width: 390px;
    height: 415px;
    z-index: 0;
  }
}

.app__about-content {
  width: 100%;
  z-index: 2;
}

.app__about-content_about {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  text-align: right;

  img {
    transform: rotate(180deg);
  }
}

.app__about-content_knife {
  margin: 2rem 4rem;

  img {
    height: 910px;
  }
}

.app__about-content_history {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  text-align: left;
}

.app__about-content_about p,
.app__about-content_history p {
  margin: 2rem 0;
  color: v.$color-grey;
}

@media screen and (max-width: 2000px) {
  .app__about-content_knife {
    img {
      height: 600px;
    }
  }
}

@media screen and (max-width: 900px) {
  .app__about-overlay {
    img {
      width: 60%;
      height: 400px;
    }
  }

  .app__about-content {
    flex-direction: column;
  }

  .app__about-content_knife {
    margin: 4rem 0;

    img {
      height: 500px;
    }
  }
}

@media screen and (max-width: 650px) {
  .app__about-overlay {
    img {
      width: 70%;
      height: 300px;
    }
  }

  .app__about-content_knife {
    img {
      height: 400px;
    }
  }
}
